@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General Reset */
body {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    background-color: #466d49 !important;
    overflow-x: hidden; /* Evita desbordamientos horizontales */
}

header {
  background-color: #333;
  position: relative;
  padding: 10px 0; /* Ajusta el espacio del header */
  z-index: 10; /* Asegura que el header esté por encima del contenido */
}

header a {
  color: white !important;
}

header a:hover {
  color: rgb(189, 189, 189) !important;
}

#info-inst::before {
  content: "Información Institucional";
}

#gestionUl {
  list-style: none;
  text-align: justify;
}

#gestionUl li {
  margin-bottom: 0.5em;
}

#subLi ul {
  list-style: disc;
}

.dir-cor-tel {
  text-align: justify !important;
}

.dir-cor-tel h4 {
  margin-top: 1em;
}

.bienvenida-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8vw;
}

.togroup-container {
  display: flex;
  width: 25%;
  justify-content: center;
}

.bienvenida-container a {
  color: white;
  text-decoration: none;
  background-color: #333;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  text-align: center;
  height: 4vw;
  width: 100%;
  margin-bottom: 4vw;
  border-radius: 10px;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bienvenida-container a:hover {
  transition: all .3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-color: #fff06c;
  color: #333;
  transform: scale(1.15);
}

.bienvenida-container a:active {
  transition: all .2s ease;
  transform: scale(0.8);
}

.mensaje-bienvenida-pc {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2vw;
  margin: 2vw;
  color: white;
  border-radius: 10px;
  text-align: justify;
}

.mensaje-bienvenida-pc h3 {
  text-align: center;
}

#deco3 {
  position: absolute;
  bottom: 72%;
  left: 66%;
  width: 256px;
  height: auto;
  animation: levitateInverted 2.5s ease-in-out infinite;
  display: block;
  margin: 0 auto;
}

.deco-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#deco1 {
  position: absolute;
  bottom: 72%;
  left: 22%;
  width: 40%;
  height: auto;
  max-width: 128px;
  animation: levitar 2s ease-in-out infinite;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#deco2 {
  position: absolute;
  bottom: 18%;
  left: 66%;
  width: 40%;
  height: auto;
  max-width: 200px;
  animation: levitar 2.6s ease-in-out infinite;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#deco3 {
  position: absolute;
  bottom: 74%;
  left: 68%;
  width: 40%;
  height: auto;
  max-width: 200px;
  animation: levitateInverted 1.8s ease-in-out infinite;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@keyframes levitar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes levitateInverted {
  0% {
    transform: scaleX(-1) translateY(0);
  }
  50% {
    transform: scaleX(-1) translateY(-10px);
  }
  100% {
    transform: scaleX(-1) translateY(0);
  }
}

.contenedor-grupos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container-grupo-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grupo-cuadro-title {
  border-top: none !important;
  border: 1px solid #333;
  padding: 16px;
  width: 90%;
  max-width: 350px; /* Máximo ancho para que no se estire demasiado */
  background-color: #333333c4;
  color: whitesmoke;
}

.grupo-cuadro-title h2 {
  text-align: center;
}

.grupo-cuadro {
  border-top: none !important;
  border: 1px solid #333;
  padding: 16px;
  width: 28vw;
  background-color: #333333c4;
  color: whitesmoke;
  flex: 1 1 calc(33.33% - 10px);
  max-width: 33%;
  height: auto;
  min-height: 180px; /* Asegura que no se achique demasiado */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.grupo-cuadro h2 {
  text-align: center;
}

.grupo-cuadro h3, .grupo-cuadro h4 {
  margin: 0 0 8px;
}

.grupo-cuadro ul {
  list-style: none;
  padding: 0;
}

.span-bienvenida {
  background-color: #ffffff61;
    border-radius: 10px;
    padding: 1rem;
}

@media (max-width: 1024px) {
  .grupo-cuadro {
    width: 45vw; /* Para tabletas y pantallas medianas */
    margin: 1vw;
  }

  .togroup-container a {
    width: 100%;
    height: 5rem;
  }

  #deco1 {
    bottom: 36rem;
    left: 7rem;
  }
  #deco2 {
    bottom: 4rem;
    left: 35rem;
  }
  #deco3 {
    bottom: 36rem;
    left: 34rem;
  }
}

@media (max-width: 768px) {
  .mensaje-bienvenida-pc {
    width: 85%;
  }

  .togroup-container {
    width: 65%;
    height: 5rem;
  }

  .togroup-container a {
    width: 100%;
    height: 5rem;
  }

  .deco-div {
    display: none !important;
  }

  #info-inst::before {
    content: "Info";
  }

  #fg-h {
    display: none !important;
  }

  .grupo-cuadro {
    width: 80%; /* Para pantallas pequeñas */
    margin: 2vw 0;
  }

  .grupo-cuadro-title {
    width: 90%;
  }

  .grupo-cuadro h2 {
    font-size: 1.5rem; /* Ajuste del tamaño del título */
  }
}

@media (max-width: 480px) {
  .grupo-cuadro {
    width: 90%; /* Ajusta aún más para pantallas muy pequeñas */
    margin: 2rem 0;
  }

  .grupo-cuadro-title {
    width: 100%;
  }

  .grupo-cuadro h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 390px) {
  .mensaje-bienvenida-pc {
    width: 75%;
    background-color: transparent;
  }

  .mensaje-bienvenida-pc h3 {
    text-decoration: underline;
  }

  .grupo-cuadro {
    width: 90%; /* Ajusta aún más para pantallas muy pequeñas */
    margin: 2rem 0;
  }

  .grupo-cuadro-title {
    width: 100%;
  }

  .grupo-cuadro h2 {
    font-size: 1.3rem;
  }
}
